{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
        <span class="small fst-italic">{{post.author}},</span>
        <span class="small fst-italic">{{post.date_posted}}</span>
        <br>

        {% if user.is_authenticated and user.username == post.author.username %}
        <span class="small fst-italic"><a href="{% url 'post_delete' post.pk %}">Удалить, </a></span>
        <span class="small fst-italic"><a href="{% url 'post_edit' post.pk %}">Изменить</a></span>
        <br>
        {% else %}
        {% endif %}
        <hr>

    <p>{{ post.description }}</p>
    <hr>

    <h3>Комментарии:</h3>
    {% for comment in post.comments.all %}
      <span class="small fst-italic">{{comment.author}},</span>
        <span class="small fst-italic">{{comment.date_posted}}</span>
      <p>{{comment.description}}</p>
    <hr>
    {% empty %}
    <p>Комментариев нет</p>
    {% endfor %}

{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    {% if user.is_authenticated %}
    <h3>Добавьте комментарий:</h3>
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button class="btn btn-secondary btn-sm" type="submit">Добавить комментарий</button>
    </form>
    {% else %}
    <p><a href="{% url 'login' %}">Войдите</a>, чтобы оставить комментарий.</p>
    {% endif %}
{% endif %}

{% endblock %}